import { Config } from './config.interface';

import fs from 'fs';
import { join } from 'path';

const config: Config = {
  nest: {
    port: 3001,
    adminNum: ''
  },
  aliyun: {
    accessKeyId: '',
    accessKeySecret: '',
    endpoint: '',
  },
  vaisala: {
    host: '',
    username: '',
    password: '',
  },
  crontab: {
    fetchEvent: '01 * * * * *',
    sendMsg: '30 * * * * *',
  },
};

export default (): Config => config;
